### Loading the Dataset

In [2]:
import pandas as pd

# Load the dataset from a CSV file
df = pd.read_csv('/Users/iamshashidharbalachandragmail.com/Downloads/Learning/Python/adult.data.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many people of each race are represented in this dataset?

In [5]:
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

### 2. What is the average age of men?

In [7]:
average_age_men = df[df['sex'] == 'Male']['age'].mean()
round(average_age_men,2)

39.43

### 3. What is the percentage of people who have a Bachelor's degree?

In [9]:
total_people = len(df)
bachelors_count = len(df[df['education'] == 'Bachelors'])
percentage_bachelors = (bachelors_count / total_people) * 100
print(f"percentage_bachelors: {percentage_bachelors:.2f}%")

percentage_bachelors: 16.45%

### 4. What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [11]:
advanced_education = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
higher_education_rich = df[advanced_education & (df['salary'] == '>50K')]
percentage_higher_education_rich = (len(higher_education_rich) / len(df[advanced_education])) * 100
print(f"percentage_higher_education_rich: {percentage_higher_education_rich:.2f}%")

percentage_higher_education_rich: 46.54%

### 5. What percentage of people without advanced education make more than 50K?

In [13]:
no_advanced_education = ~advanced_education
lower_education_rich = df[no_advanced_education & (df['salary'] == '>50K')]
percentage_lower_education_rich = (len(lower_education_rich) / len(df[no_advanced_education])) * 100
print(f"percentage_lower_education_rich: {percentage_lower_education_rich:.2f}%")

percentage_lower_education_rich: 17.37%

### 6. What is the minimum number of hours a person works per week?

In [15]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

### 7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [17]:
min_hours_workers = df[df['hours-per-week'] == min_work_hours]
rich_min_hours = min_hours_workers[min_hours_workers['salary'] == '>50K']
rich_percentage = (len(rich_min_hours) / len(min_hours_workers)) * 100
print(f"rich_precentage: {rich_percentage:.2f}%")

rich_precentage: 10.00%

### 8. What country has the highest percentage of people that earn >50K and what is that percentage?

In [19]:
country_earning_rich = df[df['salary'] == '>50K']['native-country'].value_counts()
country_population = df['native-country'].value_counts()

highest_earning_country = (country_earning_rich / country_population * 100).idxmax()
highest_earning_country_percentage = (country_earning_rich / country_population * 100).max()

print(f"highest_earning_country: {highest_earning_country}\n"
      f"highest_earning_country_percentage: {highest_earning_country_percentage:.2f}%")

highest_earning_country: Iran
highest_earning_country_percentage: 41.86%

### 9. Identify the most popular occupation for those who earn >50K in India.

In [21]:
top_IN_occupation = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'

In [22]:
print(f"race_count: {race_count}\n")
print(f"average_age_men: {average_age_men:.2f}\n")
print(f"percentage_bachelors: {percentage_bachelors:.2f}%\n")
print(f"percentage_higher_education_rich: {percentage_higher_education_rich:.2f}%\n")
print(f"percentage_lower_education_rich: {percentage_lower_education_rich:.2f}%\n")
print(f"min_work_hours: {min_work_hours:.2f}\n")
print(f"rich_percentage: {rich_percentage:.2f}%\n")
print(f"highest_earning_country: {highest_earning_country}\n")
print(f"highest_earning_country_percentage: {highest_earning_country_percentage:.2f}%\n")
print(f"top_IN_occupation: {top_IN_occupation}")

race_count: race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

average_age_men: 39.43

percentage_bachelors: 16.45%

percentage_higher_education_rich: 46.54%

percentage_lower_education_rich: 17.37%

min_work_hours: 1.00

rich_percentage: 10.00%

highest_earning_country: Iran

highest_earning_country_percentage: 41.86%

top_IN_occupation: Prof-specialty